<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <h1>Travel Planner</h1>
    </header>

    <main>
        <section id="section1">
            <img src="https://res.cloudinary.com/dm5kzfzfw/image/upload/v1663124517/wonder-world_lqoaxn.jpg" alt="Wonders of the world">
            <form class="form-group" onsubmit="return Client.handleSubmit(event)">
                <label>City</label>
                <input id="name" type="text" name="input" placeholder="Enter a city">
                <label>Depart</label>
                <input type="date" id="depart" required>
                <input class="form-group__button" type="submit" name="" value="submit"
                    onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <section>
            <h1>Saved trips</h1>
            </br>
            <div id="results">
            </div>
        </section>
    </main>

    <footer>
        <h5>Made by TanDz</h5>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered successfully: ', registration)
                })
            })
        } else {
            console.log("Service Working not supported")
        }
    </script>
</body>

</html>